<!DOCTYPE html>
<html>
  <head>
    <title>BairesdevRailsTrainingLvl4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>BairesDev Rails Training Project LVL 4</h1>
    <h2>Sam Palumbo<h2>

    <%= link_to 'People', people_path %>
    <%= link_to 'Clients', clients_path %>
    <%= link_to 'Employees', employees_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Roles', roles_path %>
    <%= yield %>
  </body>
</html>
